@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebf2fc;
  /* background-image: url(/Img/fundo.jpg);*/
  background-size: cover;
  font-family: "Hind Siliguri", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  /*background-color: aqua*/
}

.cabecalho {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset -5px -5px 5px 5px rgb(152, 140, 233);
  background-color: rgb(177, 166, 252);
}

.cabecalho img {
  width: 70%;
}

.cabecalho p,
.cabecalho h4 {
  width: 100%;
  height: 40px;
  text-align: center;
  padding-top: 5%;
  /*ackground-color: beige;*/
}
.cabecalho p {
  width: 80%;
  height: 50px;
  text-align: center;
  padding-top: 10%;
  border-top: 1px solid black;
  /*background-color: beige;*/
}

.menu {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*background-color: azure;*/
}

.menu li {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding-left: 10%;
  /*background-color: aqua;*/
}

.menu li:hover {
  border-left: 2px solid purple;
}

.menu a {
  text-decoration: none;
}

.menu i {
  padding-right: 5%;
}

.feed{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: chartreuse;
}

.criar-post{
    width: 90%;
    height: 25%;
    background-color: darkgreen;
}

.listar-post{
    width: 90%;
    height: 70%;
    overflow: auto;
    background-color: darkgrey;
}


.ranking{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: coral;
}

.ranking-geral{
    width: 90%;
    height: 300px;
    background-color: cornflowerblue;
}

.ranking-geral header{
    width: 100%;
    height: 50px;
    background-color: crimson;
}

.ranking-geral li{
    width: 100%;
    height: 50px;
    background-color: darkgray;
}