@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
   /* background-image: url(/Img/fundo.jpg);*/
    background-size: cover;
    font-family: 'Hind Siliguri', sans-serif;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    /*background-color: aqua*/
}

.cabecalho{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.cabecalho a, .cabecalho i, .cabecalho p{
    color: rgb(15, 2, 26); 
}

.cabecalho img{
    width: 70%;
}

.cabecalho p, .cabecalho h4{
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 5%;
    /*ackground-color: beige;*/
}
.cabecalho p{
    width: 80%;
    height: 50px;
    text-align: center;
    padding-top: 10%;
    border-top: 1px solid black;
    /*background-color: beige;*/
}


.menu{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-color: azure;*/
}

.menu li{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding-left: 10%;
    /*background-color: aqua;*/
}

.menu li:hover{
    border-left: 3px solid rebeccapurple;
}

.menu li:hover i, .menu li:hover a{
    color: rebeccapurple;
}

.menu a{
    text-decoration: none;
}

.menu i{
    padding-right: 5%;
}

.span-suporte a, .span-suporte p{
    text-decoration: none;
    font-size: 12px;
    font-weight: bolder;
    color: gray;
}