.suporte{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: #EBF2FC;
}

.chamado{
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(225, 225, 225, 0.5);
    border: 2px dashed rgb(193, 122, 252);
}

.grid{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.chamado-input{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

fieldset{
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
}

.chamado-input input{
    width: 100%;
    height: 35px;
    border: 1px solid rgb(193, 122, 252);
    border-radius: 10px;
}

.chamado-input textarea{
    border: 1px solid rgb(193, 122, 252);
    border-radius: 10px;
}

button{
    padding: 8px 20px;
    border-radius: 20px;
    background-color: slateblue;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
}
