.comunidades {
  width: 85%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  background-color: #EBF2FC;
  /*background-color: chartreuse;*/
}

.comunidades::-webkit-scrollbar{ 
  display: none; 
}

.card {
  width: 350px;
  height: 500px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    -5px -5px 5px rgba(255, 255, 255, 0.05),
    -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.box {
  width: 330px;
  height: 480px;
  background-color: #ebf2fc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  color: gray;
  border-radius: 15px;
  filter: grayscale(60%);
}

.box:hover {
  filter: grayscale(0%);  
  box-shadow: 0 10px 40px #F8E29C;
  border: 1px solid #F8E29C;
  color: black;
  transition: 0.5s;
}

.box:hover a {
  background-color: royalblue;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*background-color: green;*/
}

.content h3 {
  font-size: 24px;
  /*transition: 1s;*/
}

.content p {
  font-size: 18px;
}

.imagem {
  width: 100%;
  height: 150px;
  background-color: greenyellow;
}

.imagem img {
  width: 100%;
  background-size: cover;
}

.sobre{
    width: 95%;
    height: 290px;

}

.sobre h4{
    text-align: center;
}

.resumo{
    width: 100%;
    height: 150px;
}

.resumo p{
    font-size: 0.83em;
}

.avaliacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.estrelas input[type="radio"] {
  display: none;
}
.estrelas label i.fa {
  font-size: 12px;
}
.estrelas label i.fa:before {
  content: "\f005";
  color: #fc0;
}
.estrelas input[type="radio"]:checked ~ label i.fa:before {
  color: #ccc;
}
